header{background-color: rgb(144, 144, 174);}
table{
    width: 100%;/*tamanho tabela*/
}

th, td{
    border: 1px solid #000;/*criar bordas tabela*/
    padding: 8px; /*espaçamento*/
    text-align: center; /*alinhamento texto*/
}

.sp{border-collapse: collapse;/*sobrepoe as bordas*/}

/*.bg{background-color: #eeeeee;}*/